
<div class="ui comments">
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/steve.jpg">
    </a>
    <div class="content">
      <div class="metadata">
        <div class="date">2 days ago</div>
      </div>
      <div class="text">
        <%= @comment.text %>
      </div>

      <div class="ui reply form">
        <%= form_for [@post, Comment.new] do |f| %>
        <div class="field">
            <%= f.text_area :text, placeholder: "Compose new comment..." %>
        </div>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit class: "ui primary submit labeled icon button"%>

        <% end %>
      </div>
    </div>
  </div>
</div>
