
<form class="ui form" method="POST" action="/signup">
  <%= form_for(@user, url: signup_path) do |f| %>
    <div class="field">
      <%= render 'shared/errors', object: f.object %>
      <label>Name</label>
      <input type="text" name="name" placeholder="Name">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="text" name="password" placeholder="Password">
    </div>
    <div class="field">
      <label>Confirm Password</label>
      <input type="text" name="password_confirmation" placeholder="Confirm Password">
    </div>
    <button class="ui orange button" type="submit">Submit</button>
    <% end %>
</form>


<div class="row">
  <div class="ui form">

    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/errors', object: f.object %>

      <%= f.label :name %>:
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>:
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>:
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm Password" %>:
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
