<h1>Users Index</h1>

<p>Number of Users: <%= @users.count %></p>

<body>
  <% @users.each do |a| %> <br>
  Name: <%= a.name %> <br>
  <br>
  Email: <%= a.email %><br>
  <br>
  <%= link_to "View the User", user_path(a) %><br>
  -------------------------------------
  <br>
  <% end %>
    <p> <%= link_to "Add New User", new_user_path %> </p>
</body>
