<h1 style="color:yellow;">Users Index</h1>

<p style="color: white;">Number of Users: <%= @users.count %></p>

<% @users.each do |u| %>

<div class="media white" style="width:90%; margin: 0 30px;">
    <div class="media-left">
      <% if u.image.attached? %>
      <img src="<%= url_for u.image %>", class="img-rounded media-object" style="width:110px;height:110px;" alt="<%= u.name %>">
      <% else %>
      <img src="https://i.pinimg.com/originals/cb/80/cc/cb80cc8aed218910fc3e42163f891798.jpg", class="img-rounded media-object" style="width:110px;height:110px;" alt="<%= u.name %>">
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= u.name %></h4>

      <p style="color: yellow;"><%= u.bio %></p>
      <br>
    </div>

    <br>
    <%= link_to 'View Profile', user_path(u), class: "button btn btn-info" %>
  </div>
  <br>
<hr>
  <% end %>

  <hr>
