<h1 style="color:yellow;">Users Index</h1>

<p style="color: white;">Number of Users: <%= @users.count %></p>

<% @users.each do |u| %>

<div class="media white" style="width:60%; margin: 0 30px;">
    <div class="media-left">
      <% if u.image.attached? %>
      <img src="<%= url_for u.image %>", class="img-rounded media-object" style="width:60px" alt="<%= u.name %>">
      <% else %>
      <img src="empty.png">
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= u.name %></h4>
      <p style="color: yellow;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <br>
    </div>
    <%= link_to 'View Profile', user_path(u), class: "button btn btn-info" %>
  </div>
  <br>
<hr>
  <% end %>

  <hr>
