<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-4 sidenav">
      <p></p>
      <p></p>
      <h1>My Profile</h1>

          <% if @current_user.image.attached? %>
          <img src="<%= url_for @current_user.image %>",  class="img-rounded profile" alt="<%= @current_user.name %>">
        <% else %>
          <%= image_tag "girlb.png"%>
          <% end %>
          <br><br>
            Name: <%= @current_user.name %> <br>
            <br>
            Email Address: <%= @current_user.email %> <br>
            <br>
            <h4>A bit about me...</h4>
            <p><%= @current_user.bio %></p>

          <h4><%= render 'profile_pic' %></h4>

          <h3><%= link_to "Post Somethin", new_post_path, class: "button btn btn-primary btn-md" %></h3>

        <br>
        <br>


    </div>

    <div align="center" class="col-sm-5 abril">
      <p></p>
      <p></p>
      <h4 class="white">RECENT POSTS</h4>
      <hr>
      <% @current_user.posts.each do |p| %>
      <h2><u><%= p.title %></u></h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by <%= p.user %></h5>
      <p>  <h4>MOOD ...</h4>
        <% if p.song_file.attached? %>
        <audio controls src="<%= url_for p.song_file %>"></audio>
        <% end %>

                <br><br>
                <h4><%= p.content %></h4>
                <%= link_to "View Post", p, class: "button btn btn-info" %>   ||
                <%= link_to 'Edit Post', edit_post_path(p), class: "button btn btn-warning"  %>
                <hr>

                 <% end %></p>
      <br><br>


    </div>
  </div>
</div>
