<h1>My Profile</h1>
  Name: <%= @current_user.name %> <br>
  <br>
  Email Address: <%= @current_user.email %> <br>
  <br>
  <br>


<h3><%= link_to "Post Somethin", new_post_path %></h3>

  <br>
  <br>
  <% @current_user.posts.each do |p| %>
  <h2><u><%= p.title %></u></h2>

  <h4>IN MY FEELINGS, LIKE ...</h4>
  <% if p.song_file.attached? %>
  <button><%= link_to "Play Me", p.song_file, class: "html5" %></button>
  <% end %> 


  <br><br>
  <h4><%= p.content %></h4>
  <%= link_to "click to REACKT", p %>
  <br>
  <br>
  <hr>


  Comments: <br>
  <% p.comments.each do |comment| %>
  <ul>
      <li><%= comment.text %></li>
  </ul>

  <% end %>
  <% end %>
  <br>
  <br>
  <!-- <%# render partial: 'comments/form', locals: { comment: @comment } %> -->
<br>
<br>

<p> <%= link_to "Edit Profile", edit_user_path(@current_user) %> </p>
<p> <%= link_to "Delete My Profile", @current_user, method: :delete, data: {confirm: "Really?"} %> </p>
