<h1><%= @user.name %>'s Profile</h1>
  Name: <%= @user.name %> <br>
<br>
  Email Address: <%= @user.email %> <br>
  <br>
  <br>
  <% @user.posts.each do |p| %>
  Post's Title:  <%= p.title %>
<br>
<br>
  Post's Content: <br>
  <%= p.content %>
  <% end %>
<br>
<br>
<br>
<br>
<p> <%= link_to "Go Back", users_path %> </p>
