<h1>User Profile</h1>


  Name: <%= @user.name %> <br>
  <br>
  Email Address: <%= @user.email %> <br>
  <br>
  <h1>

         <%= @user.name %>
       </h1>

       <% if @user.comments.any? %>
        <h3>Comments (<%= @user.comments.count %>)</h3>
        <ol>
          <%= @user.comments %>
        </ol>
        <% end %>
        

 <br>
<p> <%= link_to "Go Back", users_path %> </p>
<p> <%= link_to "Edit User", edit_user_path %> </p>
<p> <%= link_to "Delete User Profile", @user, method: :delete, data: {confirm: "Really?"} %> </p>
