<h1><%= @user.name %>'s Profile</h1>
<% if @user.image.attached? %>
<img src="<%= url_for @user.image %>"></audio>
<% end %>
  Name: <%= @user.name %> <br>
<br>
  Email Address: <%= @user.email %> <br>
  <br>
  <br>
  <% @user.posts.each do |p| %>
  Title:  <u><%= link_to "#{p.title}", p %></u>
<br>
<br>
  Content: <br>
  <%= p.content %><br>

  <%= link_to "REACKKTIONS?", p %>
  <br>
  <br>
  <br>
  <% end %>
<br>
<br>
<br>
<br>
<p> <%= link_to "Go Back", users_path %> </p>
