
<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="active item"><%= link_to "Home", root_path %></a>
    <a class="active item"><%= link_to "Help", help_path %></a>
    <% if logged_in? %>
    <a class="active item"><%= link_to "Profile", profile_path %></a>
    <a class="active item"><%= link_to "POST SOMETHIN", new_post_path %></a>
    <a class="active item"><%= link_to 'Logout', logout_path, method: :delete %></a>
    <% else %>
       <a class="active item"><%= link_to "Sign Up", signup_path %></a>
       <a class="active item"><%= link_to "Log In", login_path %></a>
    <% end %>
  </div>
</div>
