
<div class="abril ui inverted vertical masthead center aligned segment" id= "homepage" align='center'>
    <div class="ui text container abril">

      <div class="ui inverted header"><h1 class="abril">Welcome to Tune-In</h1>


      <%= link_to "Sign up now!", signup_path, class: "ui huge primary button" %>

    <div class="carousel.carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active"><%= image_tag "antique.png", height: '427', width: '240' %></div>
          <div class="carousel-item"><%= image_tag "BackgroundChrisma.jpg", height: '427', width: '240' %></div>

          <div class="carousel-item"><%= image_tag "musicalbackground.jpg", height: '427', width: '240' %></div>
          <div class="carousel-item"><%= image_tag "headphones.png", height: '427', width: '240' %></div>
          <div class="carousel-item"><%= image_tag "teddybear.jpg", height: '427', width: '240' %></div>
<br><br><br><br>
      </div>
    </div>



</div>
    </div>
    
</div>
