<h1>Posts Index</h1>

<p>Number of Posts: <%= @posts.count %></p>

<body>

  <% @posts.each do |a| %> <br>
  Title: <%= a.title %> <br>
  <br>
  Content: <%= a.content %><br>
  <br>
  <%= link_to "View the Post", post_path(a) %><br>
  -------------------------------------
  <br>
  <% end %>

  <p> <%= link_to "Add New Post", new_post_path %> </p>
</body>
