<h1>Post</h1>
<br><br>
<h3>IN MY FEELINGS, LIKE ...</h3>
<% if @post.song_file.attached? %>
<button><%= link_to "Play Me", @post.song_file, class: "html5" %></button>
<% end %>
<br><br>
  Title: <%=@post.title%> <br>
  <br>
  Content: <%=@post.content%> <br>
  <br>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>

 <br>
<p> <%= link_to "Go Back", posts_path %> </p>
<p> <%= link_to "Edit Post", edit_post_path %> </p>
<p> <%= link_to "Delete Post", @post, method: :delete, data: {confirm: "Really?"} %> </p>
